h1 {
  font-size: 2.6em;
  line-height: 1.1;
  font-weight: 300;
}

p {
  font-size: 1.2rem;
  font-weight: 300;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 40px;
  transform: translateX(0);
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 1rem 1rem;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  background-color: #7500dc05;
  display: flex;
  backdrop-filter: blur(4px);
  position: relative;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1rem;
  z-index: 1;
  position: relative;
}

textarea {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  resize: vertical;
  overflow: auto;
}
