:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  background-color: rgb(244, 244, 244);
  color: #333;
}

.button {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 50% 20% / 10% 40%;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 250ms;
}

.button:hover {
  background-color: #7600dc;
  color: #fff;
}
.button:disabled {
  background-color: #7500dc7c;
  color: #fff;
  cursor: not-allowed;
}

.google_btn {
  background-color: rgb(66, 133, 244);
}
